body {
    background: #f4f6f8;
    font-family: Arial, sans-serif;
}

.h {
    color: #ffd54f;
    font-weight: bold;
}

.navbar {
    background: #1b3f65ff;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: #ffd54f;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.btn-accept {
    background-color: #2ecc71;
}

.btn-accept:hover {
    background-color: #27ae60;
}
.btn-refuse {
    background-color: #e74c3c;
}

.btn-refuse:hover {
    background-color: #c0392b;
}